:root {
    --color-primary: #2940A4;
    --background-primary: #fafafa;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
}

body,
.quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#startGameBtn,
#stopGameBtn {
    font-size: 2em;
}

.icon-background {
    color: #6c757d;
}

#startGameBtn,
#stopGameBtn {
    cursor: pointer;
}

.icon-background2 {
    color: #e42828;
}


/* .d-none {
    display: none;
}

.controls {
    display: flex;
    float: left;
} */

.score {
    display: flex !important;
    float: right !important;
}

.container {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.timer {
    position: absolute;
    top: 1.3rem;
    font-size: 2.5rem;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
    font-weight: bold;
    letter-spacing: .15rem;
}

.quote-display {
    width: 100%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: var(--background-primary);
}

div.typed {
    width: 100%;
}

.quote-input {
    background-color: var(--background-primary);
    border: 2px solid var(--background-primary);
    outline: none;
    width: 100%;
    min-height: 8rem;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

div.controller-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.timer {
    margin-top: -2rem;
}